/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

/* 
    Created on : 27-Mar-2017, 09:58:42
    Author     : lsdfusion
*/

/*https://www.w3schools.com/css/css3_shadows.asp*/

/*Navigation bar*/
/*https://www.w3schools.com/css/css_navbar.asp*/
/*Dropdown navigation bar */
/*https://www.w3schools.com/css/css_dropdowns.asp*/
ul.menu-items {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    max-height: 36px;
    width: 100%;
}

ul.menu-items li {
    min-width: 160px;
    float: left;
}

ul.menu-items a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    max-height: 36px;
}

ul.menu-items a:hover:not(.active), 
ul.menu-items a.hover {
    background-color: #f1f1f1;
    color: #333;
}

ul.menu-items li a.active {
    background-color: #4caf50;
}

ul.menu-items li.right {
    float: right;
}

ul.menu-items .dropdown-content {
    display: none;
    position: fixed;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

ul.menu-items .dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: left;
    max-height: 36px;
}

ul.menu-items .dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 639px) {

    ul.menu-items {
        position: static;
        max-height: none;
    }

    ul.menu-items li.right, ul.menu-items li {
        float: none;
    }

    ul.menu-items .dropdown-content {
        position: absolute;
    }

    ul.menu-items .dropdown-content {
        top: auto;
        left: 0;
        right: 0;
        text-align: center;
    }

}
