/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-Mar-2017, 09:58:48
    Author     : lsdfusion
*/

/*https://www.w3schools.com/css/css3_shadows.asp*/

/*Navigation bar*/
/*https://www.w3schools.com/css/css_navbar.asp*/
/*Dropdown navigation bar */
/*https://www.w3schools.com/css/css_dropdowns.asp*/
ul.side-menu {
    list-style-type: none;
    min-width: 160px;
    background-color: #f1f1f1;
    position: fixed;
    max-height: 100%;
}

ul.side-menu a {
    display: block;
    color: #000;
    text-align: left;
    padding: 8px 16px;
    text-decoration: none;
    max-height: 36px;
}

ul.side-menu a:hover:not(.active), ul.side-menu a.hover {
    background-color: #555;
    color: white;
}

ul.side-menu li.dropdown {
    display: block;
    position: relative;
}

ul.side-menu li.right {
    float: none;
}

ul.side-menu li a.active {
    background-color: #4caf50;
    color: white;
}

ul.side-menu .dropdown-content {
    display: none;
    position: absolute;
    top: 0;
    left: 160px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

ul.side-menu .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
}

ul.side-menu .dropdown:hover .dropdown-content {
    display: block;
}

/**/
@media screen and (max-width: 919px) {

    /*Navigation bar*/
    /*https://www.w3schools.com/css/css_navbar.asp*/
    /*Dropdown navigation bar */
    /*https://www.w3schools.com/css/css_dropdowns.asp*/
    ul.side-menu {
        overflow: hidden;
        top: 0;
        max-height: none;
        width: 100%;
    }

    ul.side-menu li {
        min-width: 160px;
        float: left;
    }

    ul.side-menu li a, .dropdown-button {
        text-align: center;        
    }

    ul.side-menu li.right {
        float: right;
    }

    ul.side-menu .dropdown-content {
        position: fixed;
        min-width: 160px;    
        top: auto;
        left: auto;
    }

}

@media screen and (max-width: 639px) {

    ul.side-menu {
        position: static;
    }

    ul.side-menu li.dropdown {
        position: static;
    }

    ul.side-menu li.right, ul.side-menu li {
        float: none;
    }

    ul.side-menu .dropdown-content {
        position: absolute;
    }

    ul.side-menu .dropdown-content {
        top: auto;
        left: 0;
        right: 0;
        text-align: center;
    }

}
