/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-Mar-2017, 09:58:48
    Author     : lsdfusion
*/

/*https://www.w3schools.com/css/css3_shadows.asp*/

/*Navigation bar*/
/*https://www.w3schools.com/css/css_navbar.asp*/
/*Dropdown navigation bar */
/*https://www.w3schools.com/css/css_dropdowns.asp*/
.header .content, 
.menu-items {
    background-color: #f1f1f1; 
}

.menu-items {
    min-width: 160px;
    height: 100%;
    top: 36px;
    overflow: visible;
}

.header .content, 
.menu-items a {
    color: #000;
}

.menu-items a {
    text-align: left;
}

.header .content .open-button:hover,
.menu-items a:hover:not(.active), 
.menu-items a.hover {
    background-color: #555;
    color: white;
}

.menu-items li.dropdown {
    display: block;
    position: relative;
}

.menu-items li.right {
    float: none;
}

.menu-items li a.active {
    background-color: #4caf50;
    color: white;
}

.menu-items .dropdown-content {
    position: absolute;
    top: 0;
    left: 160px;
    background-color: #f1f1f1;
}

.menu-items .dropdown-content a {
    text-align: left;
}

/**/
@media screen and (max-width: 919px) {

    /*Navigation bar*/
    /*https://www.w3schools.com/css/css_navbar.asp*/
    /*Dropdown navigation bar */
    /*https://www.w3schools.com/css/css_dropdowns.asp*/
    .menu-items {
        width: 100%;
        max-height: 36px;
        top: 0;
    }

    .menu-items li {
        min-width: 160px;
        float: left;
    }

    .menu-items li a, .dropdown-button {
        text-align: center;        
    }

    .menu-items li.right {
        float: right;
    }

    .menu-items .dropdown-content {
        position: fixed;
        min-width: 160px;    
        top: auto;
        left: auto;
    }

}

@media screen and (max-width: 639px) {

    .menu-items {
        position: static;
    }

    .menu-items li.dropdown {
        position: static;
    }

    .menu-items li.right, .menu-items li {
        float: none;
    }

    .menu-items .dropdown-content {
        position: absolute;
    }

    .menu-items .dropdown-content {
        top: auto;
        left: 0;
        right: 0;
        text-align: center;
    }

}
